<%= turbo_stream.replace "artist-filter-artistList" do %>
  <div id="artist-filter-artistList" data-artist-filter-target="artistList">
    <%= render partial: "artists", locals: { artists: @artists } %>
  </div>
<% end %> 