<% negative = negative %>
<li>
  <span class="name"><%= skill_name %>: <strong><%= skill_level %></strong></span>
  <div class="progress <% if negative.present? and negative == true %>negative<% else %>positive<% end %>">
    <span style="width:<%= skill_level %>%"></span>
  </div>
</li>