<ol>
<% @band.activities.where('ends_at < ?', Time.now).limit(20).order('ends_at desc').each do |activity| %>
<li class="event">
  <time><span><%= activity.humanize_past_action %> <%= time_ago_in_words(activity.created_at, vague: true) %> ago</span></time>
  <ol>
    <% activity.happenings.each do |happening| %>
    <li class="<%= happening.kind %>">
      <%= happening.what %>
    </li>
    <% end %>
  </ol>
</li>
<% end %>
</ol>