<% @band.activities.where('ends_at < ?', Time.now).limit(20).each do |activity| %>
<li>
  <strong class="activity"><%= activity.humanize_past_action %> <small><%= time_ago_in_words(activity.created_at, vague: true) %> ago</small></strong>
  <ul>
    <% activity.happenings.each do |happening| %>
    <li class="<%= happening.kind %>"><%= happening.what %></li>
    <% end %>
  </ul>
</li>
<% end %>