@font-face {
    font-family: 'Almamono';
    src: font-url('almamono-bold-webfont.woff2') format('woff2'),
         font-url('almamono-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Almamono';
    src: font-url('almamono-heavy-webfont.woff2') format('woff2'),
         font-url('almamono-heavy-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Almamono';
    src: font-url('almamono-light-webfont.woff2') format('woff2'),
         font-url('almamono-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Almamono';
    src: font-url('almamono-regular-webfont.woff2') format('woff2'),
         font-url('almamono-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Almamono';
    src: font-url('almamono-thin-webfont.woff2') format('woff2'),
         font-url('almamono-thing-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
