$body-font-family: 'Open Sans', sans-serif;

@import "foundation-emails";

h1, h2, h3, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

p {
  margin-left: 30px;
  margin-right: 30px;
}

